{
    "adapters": [
        {
            "name": "AdColony",
            "settings": {
                "app.id":"** YOUR APP ID **",
                "client.options":" ** CLIENT OPTION STRING AS PER THE DOCUMENTATION **",
                "zone.ids.rewarded.video": [
                    "** YOUR VIDEO ZONE ID **"
                ],
                "zone.ids.interstitial": [
                    "** YOUR INTERSTITIAL ZONE ID **"
                ]
            }
        },
		{
            "name": "Applifier",
            "settings":{
                "game.id.key": "** YOUR GAME ID KEY**",
                "zone.id.rewarded.video": "** PLACEMENT ID FOR REWARDED VIDEOS **",
                "comment": "Optional settings below",
                "noOfferScreen": BOOLEAN,
                "openAnimated": BOOLEAN,
                "sid": "**GAMERSID**",
                "muteVideoSounds": BOOLEAN,
                "useDeviceOrientationForVideo": BOOLEAN
            }
        },
        {
            "name": "FlurryAppCircleClips",
            "settings": {
                "api.key": "**YOUR_API_KEY**",
                "ad.name.space": "**YOUR_AD_NAME_SPACE**",
                "ad.name.type": "**one of the following - FULLSCREEN or BANNER_TOP or BANNER_BOTTOM**"
            }
        },
        {
            "name": "Vungle",
            "settings": {
                "app.id": "**YOUR APP ID**",
                "comment": "the following settings are optional",
                "sound.enabled": BOOLEAN,
                "auto.rotation.enabled": BOOLEAN,
                "back.button.enabled": BOOLEAN,
                "video.considered.watched.at": "**VALUE BTEWEEN 0.1 AND 1**"
            }
        },
        {
            "name": "AppLift",
            "settings": {
                "app.id": "**YOUR APP ID",
                "app.secret": "** YOUR APP SECRET **",
                "cache.interstitials": BOOLEAN
            }
        },
        {
            "name": "Appia",
            "settings": {
                "siteId": "** YOUR SITE ID **",
                "placementId": "** YOUR PLACEMENT ID **"
            }
        },
        {
            "name": "InMobi",
            "settings": {
                "propertyId": "** YOUR PROPERTY ID **"
            }
        },
        {
            "name": "Yume",
            "settings": {
                "adServerUrl": "** YOUR AD SERVER URL **",
                "domainId": "** YOUR DOMAIN ID **"
            }
        },
        {
            "name": "AppLovin",
            "settings": {
                "comment": "The verbose.logging entry is optional",
		"verbose.logging": true or false
            }
        },
        {
            "name": "Millennial",
            "settings": {
                "app.id": "** YOUR APP ID HERE **",
                "comment": "the following settings are optional",
                "log.level": "** LOG LEVEL **",
                "metadata": {
                    "key1": "value1",
                    "key2": "value2"
                }
            }
        },
        {
            "name": "AdMob",
            "settings": {
                "ad.unit.id": "** YOUR AD UNIT ID **",
                "comment": "the following settings are optional",
                "addTestDevice": [
                    "SH24******",
                    "3532******",
                    "3531******"
                ],
                "isCOPPAcompliant": "true"
            }
        },
        {
            "name": "HyprMX",
            "settings": {
                "distributorId": "/* YOUR DITRIBUTOR ID */",
                "propertyId": "/* YOUR PROPERTY ID */"
            }
        }
    ]
}
