{
   "adapters":[
      {
         "name":"Applifier",
         "settings":{
            "game.id.key":"** YOUR GAME ID KEY**",
            -- Optional setting below
            "noOfferScreen":BOOLEAN
            "openAnimated":BOOLEAN
            "sid":"**GAMERSID**"
            "muteVideoSounds":BOOLEAN
            "useDeviceOrientationForVideo":BOOLEAN
         }
      },
      {
         "name":"FlurryAppCircleClips",
         "settings":{
            "api.key":"**YOUR_API_KEY**",
            "ad.name.space":"**YOUR_AD_NAME_SPACE**",
            "ad.name.type":"**one of the following - FULLSCREEN or BANNER_TOP or BANNER_BOTTOM**"
         }
      },
      {
         "name":"Vungle",
         "settings":{
            "app.id":"**YOUR APP ID**",
            -- OPTIONAL CONFIGURATIONS STARTING HERE
            "show.close.button": BOOLEAN,
            "sound.enabled": BOOLEAN,
            "auto.rotation.enabled": BOOLEAN,
            "back.button.enabled": BOOLEAN,
            "video.considered.watched.at":"**VALUE BTEWEEN 0.1 AND 1**"
         }
      },
      {
         "name":"AppLift",
         "settings":{
            "app.id":"**YOUR APP ID",
            "app.secret":"** YOUR APP SECRET **"
         }
      },
      {
         "name":"Appia",
         "settings":{
            "siteId":"** YOUR SITE ID **",
            "placementId":"** YOUR PLACEMENT ID **"
         }
      },
      {
         "name":"InMobi",
         "settings":{
            "propertyId":"** YOUR PROPERTY ID **"
         }
      },
      {
         "name":"Yume",
         "settings":{
            "adServerUrl":"** YOUR AD SERVER URL **",
            "domainId":"** YOUR DOMAIN ID **"
         }
      },
      {
         "name": "AppLovin",
         "settings": {
            "comment": "No info need to be provided for AppLovin in this file. Please put the SDK key into the Android Manifest."
         }
      }
   ]
}
